a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

.top-spacer {
    margin-bottom: 25px;
}
.display-panel {
    display: block;
    height: 500px;
    width: 100%;
    opacity: 0.6;
}

.image-overlay {
    background: rgba(0, 0, 0, .8); 
}

.centered-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

