@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.btn, select {
	border-radius: 0 !important;
}

#map-holder{
    padding-bottom: 1em;
}

.btn-toolbar .btn {
    margin-top: 5px;
    margin-right: 5px;
}

.container-fluid {
	font-family:  'Source Sans Pro', sans-serif;
	color: #555450;
}

.bg {
	/*background-color: #FFFDF2;*/
	border-style: solid;
    border-width: 1px;
    border-color: #555450;
    padding: 2%;
}

#map {
	border-style: solid;
    border-width: 1px;
    border-color: #555450;
}