@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

#map-holder{
    padding-bottom: 1em;
}

.btn-toolbar .btn {
    margin-top: 5px;
    margin-right: 5px;
}

.container-fluid {
	font-family:  'Source Sans Pro', sans-serif;
}